// primary colors
$primary-color: #30344c; // 
$secondary-color: #21284e;

$body-text-color: #424241;

// secondary colors
$light-grey: #f0f0f0;
$dark-grey:  #b2b2b2;
$greenish-blue: #1eb3ac;
$sea-blue: #28687f;
$brown: #b7836b;
$dark-purple: #181D38;
$light-purple: #21294c;
$border-grey: #D2D2D2;

// other colors
$white: #ffffff;
$black: #000000;

.black {
	color: $black;
}

.greenish-blue {
	color: $greenish-blue;
}