/* grid system */
$iphone5: 320px;
$iphone6: 375px;
$allSmartPhones: 700px; // <
$medium-grid: 768px; // ≥
$lm-grid: 840px;
$large-grid: 992px; // ≥
$extra-large-grid: 1200px; // ≥
$extra-extra-large-grid: 1300px; // ≥