.sk20-contact {
  background-image: url("../img/hero.jpg");
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 90vh;
  position: relative; 
}

.sk20-contact-wrapper {    
	padding: 30px 30px 20px 30px;
}